body {
    margin: 0;
    height: 100vh;
    background: linear-gradient(
        150deg,
        rgba(255,162,0,1) 0%,
        rgba(217,50,50,1) 50%,
        rgba(240,79,226,1) 100%
    );
}
.header {
    width: 80%;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    

    padding: 20px;
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.6);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-top: 60px;
    border-radius: 40px;
}

.search-box {
    position: relative;
    width: 300px;
}

.search-box input {
    width: 80%;
    border: none;
    outline: none;
    background: linear-gradient(
        150deg,
        rgba(255,162,0,1) 0%,
        rgba(217,50,50,1) 50%,
        rgba(240,79,226,1) 100%
    );
    padding: 10px 40px 10px 15px; /* ruimte rechts voor icoon */
    border-radius: 50px;
    font-size: 16px;
    box-sizing: border-box;
}

.search-box .icon {
    position: absolute;
    right: 75px;
    top: 22%;
    cursor: pointer;
    color: #666;
}

.search-box input::placeholder {
    color: #999;
}

.nav a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
    margin-left: 50px;
    gap: 10px;
    font-weight: bold;
   
}